h2 {
    color:orangered;
}

span {
    color:blue;
}
#logo {
    width:400px;
    height:200px;
    border:2px solid black;
    border-radius: 25px;
    padding:10px;
    margin:10px;
    background-color: grey;
    animation: Magic 10s ease-in 5s infinite alternate;
}
#logo img {
    width:100%;
    height:100%
}
.card {
    width:400px;
    border:2px solid black;
    border-radius: 25px;
    padding:10px;
    margin:10px;
    box-shadow: 10px 10px 20px crimson;
    transition:3s;
}
.card:hover {
    box-shadow: 20px 20px 40px darkblue;
    background-color: Red;
}
img {
    width:100%;
    border-radius: 25px;
}
#container {
    display: flex;
    justify-content: space-evenly;

}
h4 {
    font-size: 40px;
    text-decoration: dashed;
    animation: Magic 4s ease-in 5s infinite alternate;
}
@keyframes Magic {
    0% {
        color:brown;
        margin-left: 0%;
    }
    25% {
        color:green;
        margin-left: 25%;
    }
    50% {
        color:blueviolet;
        margin-left: 50%;
    }
    75% {
        color:greenyellow;
        margin-left: 75%;
    }
    100% {
        color:burlywood;
        margin-left:100%;
    }
}

@media (min-width:430px){
    #container {
        flex-wrap: wrap;
    }
}
a {
    text-decoration: none;
}
button {
    height:50px;
    border:2px solid orange;
    font-size: 20px;
    color:white;
    background-color:purple;
    border-radius: 20px;
    margin-left:30%;
    transition: background-color 2s ease-in 2s;
}
button:hover {
    background-color: black;
}